.page-box .per-case{
    background: #fff;
    padding:20px 0px;
    border-bottom: 1px solid #eee;
}
.per-case .item-name{
    background: #da251d;
}
.per-case .item-name>p{
    line-height: 50px;
    font-size: 24px;
    font-weight: bold;
}