.pro-center{
    padding:20px 0px;
    background: #fff;
    padding-bottom: 30px;
}
.item-name>h5{
    text-align: center;
    font-size: 22px;
    color:#666;
    padding:16px;
    padding-bottom: 24px;
}
.item-name>h5>span{
    display: inline-block;
    margin-right: 8px;
    color:#da251d;
}
.pro-list{
    padding:0px;
}
.pro-list ul{
    width:100%;
    margin:0px;
}
.pro-list ul>li{
    padding:10px;
    box-sizing: border-box;
    transition:all .3s;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.pro-list ul>li:hover{
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,.2);
}
.pro-list ul a{
    display: inline-block;
    width:100%;
    height: 100%;
}
.pro-list ul p{
    text-align: center;
    padding:4px 0px;
    padding-top:8px;
    color:#666;
}
.pro-list ul img{
    width:100%;
    height:100%;
}
.new-list{
    padding:0px;
}
.new-list ul{
    width:100%;
    margin:0px;
}
.new-list .show-link{
    width:calc(100% - 80px);
    margin:0px;
}
.new-list ul>li{
    padding:10px;
    box-sizing: border-box;
    transition:all .3s;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    border:1px solid #f8f8f8;
    margin-bottom: 10px;
}
.new-list ul>li:hover{
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,.2);
}
.new-list ul a{
    display: inline-block;
    width:100%;
    height:24px;
    line-height: 24px;
    margin:20px 0px !important;
}
.new-list ul a:hover{
    background: #ff7827;
}
.new-list ul span{
    padding:4px 10px;
    padding-top:8px;
    color:#666;
}
.new-list ul img{
    width:66px;
    height:66px;
    padding:0px;
    margin-right:10px;
}
.case-list{
    padding:0px;
}
.case-list ul{
    width:100%;
    margin:0px;
}
.case-list ul>li{
    padding:10px;
    box-sizing: border-box;
    transition:all .3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: #fff;
    border:1px solid #f8f8f8;
}
.case-list ul>li:hover{
    z-index: 10;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,.2);
}
.case-list ul a{
    display: inline-block;
    width:100%;
    height: 100%;
}
.case-list ul p{
    text-align: center;
    padding:4px 0px;
    padding-top:8px;
    color:#666;
}
.per-case .item-name>h5{
    color:#fff;
    padding-bottom: 12px;
}
.per-case .item-name>h5>span{
    color:#fff;
}
.per-case .pro-list li{
    padding:5px;
    position: relative;
    background: #fff;
    border-radius: 4px;
    /* border:1px solid #eee; */
}
.per-case .pro-list li:hover{
    position: relative;
    z-index: 100;
    box-shadow:0px 0px 30px 0px rgba(0, 0, 0, 0.329);
}
.show-link{
    width:100%;
    line-height: 32px;
    display: flex;
    justify-content: space-between;
    padding:0px;
}
.show-link>span{
    color:#999;
    font-size: 14px;
    display: inline-block;
    width:calc(100% - 60px);
    text-overflow: ellipsis;
    overflow: hidden;;
    white-space: nowrap;
}
.show-link>a{
    display: inline-block;
    width:60px !important;
    line-height: 24px;
    margin:4px 0px;
    font-size: 12px;
    color:#fff;
    background: #da251d;
    border-radius: 5px;
    text-align: center;
}
.show-link>a:hover{
    background: #ff7827;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
}
.per-case{
    padding:20px;
    background: #da251d;
    padding-bottom: 30px;
    /* background-size: cover; */
}
.per-case .item-name p{
    width:100%;
    line-height: 40px;
    font-size: 14px;
    color:#eee;
    text-align: center;
} 
.com-ac{
    background: #fff;
    padding:20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.com-ac .show-link span{
    font-size: 14px;
    line-height: 48px;
}
.com-ac .show-link a{
    font-size: 12px;
    width:60px !important;
    background: #da251d;
    margin:12px 0px;
}
.text-con{
    width:100%;
    padding:0px 20px;
    line-height: 28px;
    font-size: 13px;
    color:#999;
}
.kind-list{
    overflow-y: auto;
    max-height: 50px;
    margin-bottom: 10px;
}
.kind-list ul li{
    text-align: center;
    line-height: 50px;
    background: #eee;
    color:#999;
    cursor: pointer;
}
.kind-list ul li.active{
    background: #da251d;
    color: #fff; 
}
.kind-list ul li:hover{
    background: #ff7827;
    color: #fff;
}
/* 超小屏幕（平板，小于 768px） */
@media (max-width:767px){
    .case-list ul img{
        width:100%;
        height:100%;
    }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) and (max-width:991px){
    .case-list ul img{
        width:100%;
        height:228px;
    }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) and (max-width:1199px){
    .case-list ul img{
        width:100%;
        height:145px;
    }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px){
    .case-list ul img{
        width:100%;
        height:176px;
    }
}