.nav-box{
    width:100%;
    overflow: hidden;
    background: #fff;
    position: relative;
}
.page-box{
    min-height: calc(100vh - 290px);
    width:100%;
    padding:10px 0px;
}
.com-head{
    border-bottom: 1px solid #eee;
}
.com-head>div{
    text-align: center;
}
.com-head-logo{
    padding:20px;
}
.com-head-logo>img{
    width:210px;
}
.com-head-name{
    font-size: 20px;
    color:#999;
    font-weight: bold;
    height:0px;
    opacity: 0;
    padding:0;
}
.com-nav>li{
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.com-nav>li:hover{
    background: #eee;
}
.com-nav>li.active{
    border-bottom: 2px solid #da251d;
}
.com-nav>li.active>a{
    color:#da251d;
}
.footer-box{
    width:100%;
    padding:10px;
    padding-bottom: 30px;
    background: #eee;
}
.footer-item>h4{
    font-size: 17px;
    color:#da251d;
    margin:16px 0px;
    font-weight: 600;
}
.footer-item>p{
    font-size: 13px;
    color:#666;
    margin-bottom: 8px;
}
.footer-item>ul{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 8px;
}
.footer-item>ul>li{
    width:100px;
    font-size: 13px;
    color:#666;
    cursor: pointer;
}
.footer-item>ul>li>a:hover{
    color: #da251d;
}
.nav-container{
    position: relative;
    overflow: hidden;
}
.show{
    height:302px !important;
    border-bottom: 1px solid #eee;
}
/* 超小屏幕（平板，小于 768px） */
@media (max-width:767px){
    .com-nav>li>a{
        display: inline-block;
        width:100%;
        height:100%;
        font-size: 14px;
        color:#666;
    }
    .com-nav{
        margin-bottom: 0px;
        overflow: hidden;
        height:0px;
        transition:all .5s;
    }
    .com-head>div{
        text-align: left;
    }
    .com-head-logo{
        padding:12px;
    }
    .com-head-logo>img{
        width:100px;
    }
    .icon-toggle{
        width:24px;
        height:24px;
        position: absolute;
        top:10px;
        right:10px;
        cursor: pointer;
    }
    .icon-toggle>span{
        font-size: 24px;
        color:#da251d;
    }
    .icon-toggle:hover>span{
        font-size: 24px;
        color:#da251d;
        opacity: .6;
    }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) and (max-width:991px){
    .com-nav>li>a{
        display: inline-block;
        width:100%;
        height:100%;
        font-size: 14px;
        color:#666;
    }
    .com-nav{
        margin-bottom: 0px;
        overflow: hidden;
    }
    .com-head>div{
        text-align: center;
    }
    .com-head-logo{
        padding:12px;
    }
    .com-head-logo>img{
        width:150px;
    }
    .icon-toggle{
        display: none;
    }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) and (max-width:1199px){
    .com-nav>li>a{
        display: inline-block;
        width:100%;
        height:100%;
        font-size: 15px;
        color:#666;
    }
    .com-nav{
        margin-bottom: 0px;
        overflow: hidden;
    }
    .com-head>div{
        text-align: center;
    }
    .com-head-logo{
        padding:15px;
    }
    .com-head-logo>img{
        width:180px;
    }
    .icon-toggle{
        display: none;
    }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px){
    .com-nav>li>a{
        display: inline-block;
        width:100%;
        height:100%;
        font-size: 16px;
        color:#666;
    }
    .com-nav{
        margin-bottom: 0px;
        overflow: hidden;
    }
    .com-head>div{
        text-align: center;
    }
    .com-head-logo{
        padding:20px;
    }
    .com-head-logo>img{
        width:210px;
    }
    .icon-toggle{
        display: none;
    }
}